<div class="outer_container" style="margin: 10%">
  <h1>Top 5 visited links</h1>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">http://google.com</div>
      bYd8fs
    </div>
    <span class="badge bg-primary rounded-pill">146</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">http://zoom.com/test1</div>
      cetI0X
    </div>
    <span class="badge bg-primary rounded-pill">142</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">http://yahoo.com</div>
      bKpHI4
    </div>
    <span class="badge bg-primary rounded-pill">139</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">http://facebook.com</div>
      oxjq0
    </div>
    <span class="badge bg-primary rounded-pill">134</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">http://meduza.io</div>
      bTc7Sc
    </div>
    <span class="badge bg-primary rounded-pill">131</span>
  </li>
</ol>
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <button class="btn btn-primary" type="button">Back</button>
  </div>
</div>
